.hero {
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-position-x: center;
}
.hero .hero__continer {
  display: flex;
  align-items: center;
}
.hero .hero__continer h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #000000;
  max-width: 570px;
  margin-bottom: 16px;
}
.hero .hero__continer p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #333333;
  margin-bottom: 32px;
}

.tag-chiziq {
  width: 100%;
  height: 1px;
  background-color: #dedede;
}

.header__continer {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.header__continer .header__continer-1 {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__continer .header__continer-1 .menu {
  display: none;
}
.header__continer .header__continer-1 #check {
  display: none;
}
.header__continer .header__continer-1 .nav {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.header__continer .header__continer-2 {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__continer .header__continer-2 .header__continer-sign {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__continer .header__continer-img-3 {
  display: none;
}

.list__item a {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  transition: all 0.5s;
}
.list__item a:hover {
  color: #887b7b;
}

.header__continer-2 p {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .header__continer {
    position: relative;
  }
  .header__continer .header__continer-1 .nav {
    display: none;
  }
  .header__continer .header__continer-1 .menu {
    display: block;
  }
  .header__continer .header__continer-1 #check:checked ~ .nav {
    display: block;
    background-color: darkcyan;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header__continer .list__item a {
    color: white;
  }
}
@media screen and (max-width: 540px) {
  .header__continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }
  .header__continer .header__continer-2 {
    display: none;
  }
  .header__continer .header__continer-img-3 {
    display: block;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__buttons button {
  padding: 14px 28px;
  background-color: #13ab4e;
  color: white;
  font-family: "poppins";
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.hero__free {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero__free span {
  font-size: 16px;
  font-weight: 500;
  color: #13ab4e;
}

@media screen and (max-width: 540px) {
  .hero__continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__continer h1 {
    text-align: center;
    font-size: 22px;
  }
  .hero__continer p {
    text-align: center;
  }
  .hero__buttons {
    text-align: center;
  }
  .hero__contiener-img {
    width: 530px;
  }}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.continer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header__continer .header__continer-2 button {
  padding: 14px 28px;
  background-color: #13ab4e;
  color: white;
  font-family: "poppins";
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.header__continer .header__continer-2 button:hover {
  background-color: #044d20;
}

.kfs__continer {
  max-width: 1042px;
}
.kfs__continer h4 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #0d7d38;
  margin-top: 24px;
  margin-bottom: 32px;
}

.kfs__img {
  display: flex;
  align-items: center;
}
.kfs__img a:hover {
  color: #0d7d38;
}
.kfs__img-1,
.kfs__img-2 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media screen and(max-width:540px) {
  .kfs__img {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .kfs__img-1,
  .kfs__img-2 {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .continer {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .continer {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .continer {
    max-width: 540px;
  }
} /*# sourceMappingURL=style.css.map */
